---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Book in a Box">
	<section id="hero" class="
	bg-forrest-500 h-screen">

	<section class=" grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop font-lemondejournal">

<div class="flex col-span-4">
<h1 class=" self-center text-center text-h1-mobil text-sage-500 lg:text-h1-display-desktop ">
Book in a Box</h1>
</div>



<p class="text-p-mobil mx-7 col-start-1 col-span-4 text-sage-200 lg:text-p-desktop text-center break-all">
	Lorem ipsum dolor sit amet consectetur. Felis auctor at adipiscing dignissim nibh?
</p>

<button class="col-start-2 col-span-2 text-center">h</button>


<div class="flex col-span-4 col-start-1 items-center justify-center gap-2">
<p class="text-p-mobil  text-center text-sage-200 lg:text-p-desktop  opacity-50">
	Scroll for yderligere info
</p>
<img src="/svg/arrow-m.svg" alt="Pil ned">
</div>


</section>

	</section>
</MainLayout>