---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Karrusel from "../components/Karrusel.astro";
import Card from "../components/Card.astro";
---


<MainLayout title="Book in a Box">
  <!-- Hero Mobile Background -->
 <section id="hero-m" class="h-screen lg:hidden inset-0 bg-[url('/svg/hero-blomster-samlet.svg')] bg-cover bg-center z-0 bg-forrest-500">
   <!-- Main Content -->
   <section class="grid grid-cols-grid-mobil mx-margin-mobil gap-gap-mobil font-lemondejournal">


     <!-- Heading -->
     <div id="hm-h" class="mt-m flex col-span-4">
       <h1 class="self-center text-center text-h1-mobil text-sage-500">
         Book in a Box
       </h1>
     </div>


     <!-- Subtitle -->
     <p id="hm-h" class="mb-s text-p-mobil mx-7 col-start-1 col-span-4 text-sage-200 text-center">
       Din abonnementsløsning for udvalgt fantasy spænding hver anden måned. Nøje udvalgt af vores redaktion.
     </p>


     <!-- Button -->
     <div id="hm-h" class="flex flex-col items-center col-span-full">
     <a href="/tilmeld"><Button variant="primary" input ="Tilmeld"></Button></a>
   </div>


     <!-- Scroll Info -->
     <div id="hm-h" class="mt-s flex flex-col col-span-4 col-start-1 align-bottom">
       <div class="flex items-center justify-center gap-2">
         <p class="text-p-mobil text-center text-sage-200 lg:text-p-desktop opacity-50">
           Scroll for yderligere info
         </p>
         <img id="scroll-arrow" src="/svg/arrow-m.svg" alt="Pil ned">
       </div>
     </div>
   </section>
 </section>


 <!-- Hero Desktop -->
 <section id="hero-d" class="h-screen hidden lg:block inset-0 bg-[url('/svg/desktop-bg.svg')] bg-no-repeat bg-cover z-0 bg-forrest-500">
   <img class="b-d absolute right-0 top-[40%]" src="/svg/papirblomster-r.svg" alt="Blomster illustration">
   <img class="b-d absolute left-52 bottom-10" src="/svg/papirblomster-lb.svg" alt="Blomster illustration">
   <img class="b-d absolute left-52 top-10" src="/svg/papirblomster-lt.svg" alt="Blomster illustration">
   <img class="bird-d absolute right-0 top-20" src="/svg/birdfill-maroon.svg" alt="Fugl illustration">


   <!-- Main Content -->
   <section class="grid grid-cols-grid-desktop mx-margin-desktop gap-gap-desktop font-lemondejournal">
     <div class="absolute right-10">
      <a href="/tilmeld"><Button input="Tilmeld" variant="primary"></Button></a>
     </div>


     <!-- Hero Heading -->
     <div class="mt-[10rem]  flex flex-col justify-center mb-s col-span-8 col-start-3 gap-s items-center">
       <h1 id="hm-h" class="self-center text-center text-h1-display-desktop text-sage-500 lg:text-h1-display-desktop">
         Book in <br>a Box
       </h1>


       <!-- Subtitle -->
       <p id="hm-h" class="text-h6-desktop self-center text-sage-200 text-center">
         Din abonnementsløsning for udvalgt fantasy <br> spænding hver anden måned. Nøje udvalgt af <br> vores redaktion.
       </p>


       <!-- Buttons -->
     <a id="hm-h" href="/tilmeld"><Button input="Tilmeld" variant="primary"></Button></a>


       <!-- Scroll Info -->
       <div id="hm-h" class="flex flex-row gap-xxs">
         <p class="text-p-mobil text-center text-sage-200 lg:text-p-desktop opacity-50">
           Scroll for yderligere info
         </p>
         <img id="scroll-arrow" src="/svg/arrow-m.svg" alt="Pil ned">
       </div>
     </div>
   </section>
 </section>






 <section id="scroll-1" class="h-[640vh]">
  
   <section class="lg:hidden grid grid-cols-grid-mobil mx-margin-mobil">
   <div class=" z-50 sticky top-0 row-start-1 row-span-1 col-start-1  ">
     <p id="pl" class="font-lemondejournal  text-forrest-500 col-span-4 text-p-mobil lg:text-p-desktop  ">Konceptet</p>
     <h2 id="pl" class="font-lemondejournal  text-forrest-500 col-span-4 text-h2-mobil lg:text-h2-desktop ">Sådan fungerer det</h2>
   </div>
 </section>


   <section class="sticky h-[100vh]  top-20 overflow-hidden sm:grid-rows-2 mt-s grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop font-lemondejournal">
       <!-- h1 -->
   <div class=" sticky top-0 z-50 hidden lg:block   ">
     <p id="pl" class=" font-lemondejournal  text-forrest-500 col-span-4 text-p-mobil lg:text-p-desktop  ">Konceptet</p>
     <h2 id="pl" class=" font-lemondejournal  text-forrest-500 col-span-4 text-h2-mobil lg:text-h2-desktop ">Sådan fungerer det</h2>
   </div>
  
 


  


       <!-- første frame -->
<div class=" z-10  contain-strict first-object lg:col-start-2 col-span-full lg:col-span-7 row-start-1 row-span-3 ">
  <section id="trin-1" class=" flex flex-col justify-center items-center  ">
      
 <img class="w-[40%] lg:w-48" src="/svg/typewriter.svg" alt="Skrivemaskine illustration">
 <div class="border-l border-forrest-500 pl-s ">
   <h3 class="text-forrest-500 text-h3-mobil lg:text-h3-desktop">1. Du bestiller</h3>
 <p class="text-p-mobil lg:text-p-desktop text-forrest-500">
   Du tilmelder dig Book In A Box gennem vores hjemmeside. Hver 2. måned modtager du vores nøje udvalgte og kan sammen med de andre fra vores bog fællesskab gå på opdagelse i det nye univers. Skulle du have mod på mere, kan du også vælge at modtage ekstra gaver med i din pakke. Kunne det blive bedre?
 </p>
</div>
</section>


<div class="w-full object-none h-full">
</div>


</div>


<!-- andet frame -->
<div class=" z-10  contain-strict second-object col-start-1 lg:col-start-2 col-span-8 row-start-1 row-span-3 ">
 <section id="trin-2" class=" h-screen flex flex-col items-center lg:flex-row  lg:items-start ">
 <div class="border-l border-forrest-500 pl-s h-1/2">
  <h3 class="text-forrest-500 text-h3-mobil lg:text-h3-desktop">2. Vi udvælger</h3>
  <p class="text-p-mobil lg:text-p-desktop text-forrest-500">
    Vi gør os umage med at udvælge den bog og gaver der kommer med i boksen på baggrund af nuværende trends, indenfor fantasygenren og jeres meninger. Hos Book in a Box tilbyder vi eksklusive udgaver af bøger i samarbejde med nogle af verdens største forlag og dygtige kunstnere. Glæd dig til at modtage din næste boks.
  </p>

</div>
<img class="w-[40%] lg:w-[20%]" src="/svg/udvalg.svg" alt="Bibliotek">
 </section>
<div class="w-full object-none h-full"></div> </div>
<!-- tredje frame -->
<div class=" z-10 row-start-1  contain-strict third-object col-start-1 lg:col-start-2 col-span-7 md:row-start-1 row-span-3"> <div class="w-full object-none h-full">
 <section id="trin-3" class=" ">
 <div class="flex">
  <div class="flex flex-col items-center justify-center">
    <img class="w-[50%]" src="/svg/owl.svg" alt="Ugle med gave illustration">
 <div class="border-l border-forrest-500 pl-s">
   <h3 class="text-forrest-500 text-h3-mobil lg:text-h3-desktop">3. Du modtager</h3>
 <p class="text-p-mobil lg:text-p-desktop text-forrest-500">
  Boksen bliver sendt direkte hjem til dig hver 2. måned, hvor hele Book in a Box-fællesskabet modtager boksen samtidig, som vi går på opdagelse i sammen med læseplaner og read alongs. Bliv medlem i dag og oplev den magi, der venter dig med de bedste nyudgivne fantasyromaner og boglige goodies!</p>
 </div>
</div>


</div>
</section>
</div> </div>


</section>
</section>








 <!-- Opdeler streg -->


<section id="divider" class="relative grid grid-cols-grid-mobil gap-x-gap-mobil lg:grid-cols-grid-desktop lg:gap-x-gap-desktop">
 <div class="col-start-1 lg:col-start-1  lg:col-span-4">
    <img class="col-start-1 lg:col-start-1 lg:col-span-4 lg:w-[85%]" src="/svg/singlebranch1.svg" alt="blomster gren">
    </div>
  <div id="line" class="col-start-2 col-span-4 flex place-items-center lg:col-start-5 lg:col-span-10">
 
    <div class=" h-[1px] w-full bg-forrest-500 ">
    </div>
    </div>
</section>


 <!-- tilmeld -->
 <section id="tilmeld" class=" mt-s grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop font-lemondejournal">


    <!-- h1 -->
    <div class="col-start-1 col-span-full   lg:pb-m flex flex-row justify-between items-center">
     <div class="">
     <p id="pl2" class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4 lg:text-p-desktop lg:col-span-12">Tilmeld</p>
     <h2 id="pl2" class="hidden lg:block font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 lg:text-h2-desktop lg:col-span-12">Vælg dit <br> abonnement</h2>
     <h2 id="pl2" class="lg:hidden font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 ">Vælg din boks</h2>
   </div>


   <p id="pl12" class="hidden w-1/3 lg:block  text-center text-p-mobil lg:text-p-desktop text-forrest-500">Som en del af vores abonnement hos Book in a Box, inviteres du også med i vores fantastiske læseklub.
     Læs mere om det når du tilmelder dig.</p>
     <p class=" self-end lg:hidden text-center text-p-mobil lg:text-p-desktop text-forrest-500">Bliv en del af fællesskabet</p>
   </div>
   </div>


 
   <!-- tickets -->


   <div id="tickets-m" class="lg:hidden col-span-full flex flex-col gap-s">


<article id="exclusiv-m" class="flex flex-col justify-center text-center gap-xs">
 <div class="">
<h5 class="text-h5-mobil text-forrest-500 ">BOOK & GOODIES</h5>
<h6 class="text-h6-mobil text-cherry-500">Bog og 3 eksklusive gaver</h6>
</div>
<a  href="/tilmeld"><img src="/svg/exclusiv-m.svg" alt="Book & Goodies card"></a>


</article>


<article id="bookonly-m" class=" flex flex-col justify-center text-center gap-xs">
 <div class="">
<h5 class="text-h5-mobil text-forrest-500 ">BOOK ONLY</h5>
<h6 class="text-h6-mobil text-forrest-500">Kun bog</h6>
</div>
<a href="/tilmeld"><img src="/svg/bookonly-m.svg" alt="Book Only card"></a>






</article>


   </div>






   <div id="tickets-d" class="hidden col-span-full lg:flex flex-col justify-center items-center gap-m">


<article id="exclusiv-d card1" class="hover:scale-[1.05] transition-all  overflow-hidden ">
 <a href="#"><img class="overflow-hidden" src="/svg/exclusiv-d.svg" alt="Book & Goodies card"></a>


</article>


<article id="bookonly-d card2" class="hover:scale-[1.05] transition-all overflow-hidden">
<a href="#"> <img class="" src="/svg/bookonly-d.svg" alt="Book only card"></a>






</article>






   </div>
 




 </section>


 <!-- Opdeler streg -->


<section id="divider2" class="font-lemondejournal grid grid-cols-grid-mobil gap-x-gap-mobil lg:grid-cols-grid-desktop lg:gap-x-gap-desktop ">


 <div id="line2" class="col-start-1 col-span-3 flex place-items-center lg:col-span-8 lg:row-start-5">
  
     <div id="" class=" h-[1px] w-full bg-forrest-500 ">
      </div>
      </div>
      <div class="col-start-4 lg:col-start-9 lg:row-start-5 lg:col-span-5">
      <img class="col-start-4 lg:col-start-9 lg:row-span-3" src="/img/branch-down.svg" alt="blomster gren">
     </div>
  </section>


<!-- hor andre M -->
 <section id="horandre-m" class="lg:hidden mt-s grid grid-cols-grid-mobil  mx-margin-mobil  gap-gap-mobil font-lemondejournal">
 
  <!-- h1 -->
   <div class="mt-s col-start-1 col-span-full flex flex-row justify-between items-center">
     <div class="">
     <p id="pl3" class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4 ">Hvad folk siger om os</p>
     <h2 id="pl3" class=" font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 ">Hør andre</h2>
    
   </div>
 </div>


 <div id="pl4" class="testimonial-container col-span-full flex flex-col items-end" >
   <p id="pl4" class=" testimonial-p font-lemondejournal text-p-mobil text-forrest-500  ">“Jeg har netop modtaget min første boks og jeg er virkelig imponeret. Bogen er super flot og i fantastisk kvalitet og ideen med de små gaver, som skal åbnes på specifikke tidpunkter i bogen er virkelig sjov. Jeg glæder mig meget til at læse bogen og åbne gaverne.”</p>
   <h5  id="pl4" class="testimonial-forfatter  text-right col-span-full  text-h5-mobil  text-forrest-500">Camilla Lysgaard <br>Jensen</h5>
 </div>




  
   <div class="col-start-1 col-span-2 flex flex-col justify-center items-start">
     <p id="pl5" class="text-p-mobil text-forrest-500">Hvad synes du?</p>
    
     <Button size="small" input="Giv din mening"></Button>
    
   </div>
  </section>




 

<!-- hor andre D -->


 <section id="horandre-d" class="hidden lg:grid mt-s  grid-cols-grid-desktop mx-margin-desktop gap-gap-desktop font-lemondejournal">
 
   <!-- h1 -->
    <div class="mt-s col-start-1 col-span-full   flex flex-row justify-between items-center">
      <div class="">
      <p id="pl6" class="font-lemondejournal  text-forrest-500 text-p-desktop col-span-12">Hvad folk siger om os</p>
      <h2 id="pl6" class=" font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 lg:text-h2-desktop lg:col-span-12">Hør andre</h2>
     
    </div>
  </div>


  <div class="flex col-start-2  col-span-full items-center justify-between gap-[300px]">
<div id="" class="testimonial-container">
    <p id="" class="testimonial-p pl-s lg:border-l border-forrest-500 font-lemondejournal  text-forrest-500  text-p-desktop">“Jeg har netop modtaget min første boks og jeg er virkelig imponeret. Bogen er super flot og i fantastisk kvalitet og ideen med de små gaver, som skal åbnes på specifikke tidpunkter i bogen er virkelig sjov. Jeg glæder mig meget til at læse bogen og åbne gaverne.”</p>
    <h5 id="" class=" testimonial-forfatter text-right col-span-full col-start-1 text-h5-desktop text-forrest-500">Camilla Lysgaard <br> Jensen</h5>
   </div>
    <img class="col-start-11 row-start-3" src="/svg/prinsesse.svg " alt="">
   </div>


  
</div>
 <script>
   document.addEventListener("DOMContentLoaded", () => {
 const testimonials = [
   {
     heading: "Astrid Dybkjær",
     text: '"Bestilte November 2023 boksen, et bogmærke og Marts 2024 boksen. Der var hurtig og god levering. Der er høj kvalitet på alle gaverne, som har en rigtig fin indpakning. Det er et super hyggeligt koncept, og jeg nyder allerede min bog og bogmærke. Ville både anbefale og handle Majboksen."',
   },
   {
     heading: "Amalie",
     text: '"Jeg elsker det her koncept. Det er min første bookinabox men bestemt ikke den sidste. Læsning bliver mere end bare læsningen i sig selv, det bliver en oplevelse"',
   },
   {
     heading: "Sara",
     text: '"Jeg elsker overraskelser og engelske bøger, så Book in a box er PERFEKT! Det er skønt at kunne følge med på instagram også. De sidste to bøger har været mere ovre i YA, hvor jeg selv er mere til NA. De var dog stadig det værd."',
   },
   {
     heading: "Emilie",
     text: '"Fedt koncept, og virkelig informeret ejer, som bare ved hvilke bøger der hitter! Kæmpe fan"',
   },
 ];


 let currentIndex = 0; // Start med det første testimonial
 const forfatterElements = document.querySelectorAll(".testimonial-forfatter");
 const pElements = document.querySelectorAll(".testimonial-p");
 const containerElements = document.querySelectorAll(".testimonial-container");


 function updateTestimonial() {
   // Skjul alle containers for glidende overgang
   containerElements.forEach((container) => {
     container.classList.add("opacity-0");
   });


   setTimeout(() => {
     // Opdater tekst og overskrifter for alle testimonials
     forfatterElements.forEach((forfatterElement) => {
       forfatterElement.textContent = testimonials[currentIndex].heading;
     });
     pElements.forEach((pElement) => {
       pElement.textContent = testimonials[currentIndex].text;
     });


     // Vis alle containers igen
     containerElements.forEach((container) => {
       container.classList.remove("opacity-0");
     });


     // Opdater indeks
     currentIndex = (currentIndex + 1) % testimonials.length;
   }, 500); // Vent, indtil transitionen er færdig (0.5s)
 }


 // Skift testimonial hvert 10. sekund
 setInterval(updateTestimonial, 10000);
});


 </script>
<style>
 </style>   


<div class="col-start-1 col-span-2 flex flex-col justify-center items-start">
 <p id="pl8" class="text-p-desktop text-forrest-500">Hvad synes du?</p>
<Button input="Giv din mening"></Button>
 <img class="lg:hidden col-start-1 lg:col-start-1  lg:col-span-3 lg:w-full row-start-3 relative -left-7 lg:left-[-100px]" src="/svg/singlebranch.svg" alt="blomster gren">
</div>














  </section>


  <div class="hidden lg:grid grid-cols-4 row-start-4  col-start-1     ">
   <img class=" col-start-1 row-start-1 col-span-2  relative left-[-100px]" src="/svg/singlebranch.svg" alt="blomster gren">
  
   <div class=" row-start-1 col-start-2 col-span-3 flex place-items-center lg:col-span-8 ">
     <div class="h-[1px] w-72 lg:w-[120vh]  absolute right-0 bg-forrest-500"></div>
   </div>
   </div>




   <section id="scroll-2" class="h-[640vh]">
  
     <section class="lg:hidden grid grid-cols-grid-mobil mx-margin-mobil">
     <div class=" z-50 sticky top-0 row-start-1 row-span-1 col-start-1  ">
       <p id="pl9" class="font-lemondejournal  text-forrest-500 col-span-4 text-p-mobil lg:text-p-desktop  ">Månedens bog</p>
       <h2 id="pl9" class="font-lemondejournal  text-forrest-500 col-span-4 text-h2-mobil lg:text-h2-desktop ">A Dark and Drowning Tide</h2>
     </div>
   </section>
      <section class="sticky h-[100vh]  top-20 overflow-hidden sm:grid-rows-2 mt-s grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop font-lemondejournal">
 
 
         <!-- h1 -->
     <div class=" z-50 hidden lg:block row-start-1 col-span-5 col-start-1   ">
       <p id="pl9" class="font-lemondejournal  text-forrest-500  text-p-mobil lg:text-p-desktop  ">Månedens bog</p>
       <h2 id="pl9" class="font-lemondejournal  text-forrest-500  text-h2-mobil lg:text-h2-desktop ">A Dark and Drowning Tide</h2>
     </div>
    
   
     
  
 
 
 
         <!-- første frame -->
  <div class=" z-10  contain-strict first-object lg:col-start-2 lg:col-span-7 row-start-1 row-span-3 ">
  
  
     <section class="flex flex-col justify-end items-center gap-xs">
     <img class="w-[30%]" src="/svg/bog.svg" alt="Månedens bog">
       <div class="pl-s border-l border-forrest-500">
         <h4 class="font-semibold text-forrest-500 text-h5-mobil lg:text-h5-desktop">
           It was a painstakingly illustrated map of Brunnestaad
         </h4>
         <h6 id="" class="typewrite text-forrest-500 text-h6-mobil lg:text-h6-desktop  overflow-hidden">
           and a work of art. Their young kingdom was vast and wheel-shaped, cradled
           between two mountain ranges and bisected vertically by the River Vereist.
           Heike had rendered it in shimmering black ink, with its vast network of
           tributaries frittering off in shades of pale blue.
         </h6>
       </div>
     </section>
    
  <div class="w-full object-none h-full">
 </div>
  </div>
  
  <!-- andet frame -->
  <div class=" z-10  contain-strict second-object col-start-1 lg:col-start-2 col-span-7 row-start-2 row-span-3 ">
   <section class="flex flex-col items-end gap-xs">
      <div class="pl-s border-l border-forrest-500">
       <h4 class="font-semibold text-forrest-500 text-h5-mobil lg:text-h5-desktop">
         Lorelei Kaskel, a folklorist with a quick temper and an even quicker wit,
       </h4>
       <h6 id="" class="typewrite text-forrest-500 text-h6-mobil lg:text-h6-desktop  overflow-hidden">
         is on an expedition with six eccentric nobles  in search of a fabled spring. The magical spring promises untold power,  which the king wants to harness to secure his reign of the embattled  country of Brunnestaad. Lorelei is determined to use this opportunity to prove herself and make her wildest, most impossible dream come to  become a naturalist, able to travel freely to lands she’s only ever read about.
       </h6>
     </div>
     <img class="w-[20%]" src="/svg/flaskepost.svg" alt="Flaskepost">
   </section>
  <div class="w-full object-none h-full"></div> </div>
 
 
 
  <!-- tredje frame -->
  <div class=" z-10 row-start-1  contain-strict third-object col-start-1 lg:col-start-2 col-span-7 md:row-start-1 row-span-3"> <div class="w-full object-none h-full">
   <section class="grid grid-cols-3  text-center items-center justify-center">
     <div class="col-start-1 col-span-3 flex flex-col justify-center items-center">
  <div class="h-[2px] bg-forrest-500 w-full"></div>
   <h5 class="text-h5-mobil lg:text-h5-desktop text-forrest-500 font-semibold ">“Nominee for Readers' Favorite Romantasy (2024)” <br> <br>“Goodreads Choice Award”</h5>
 <a href="https://www.bookinabox.dk/shop/?_gl=1*pukssy*_up*MQ..*_ga*MTgyNDM4ODkzOC4xNzM0NTIzMzIy*_ga_T9PHF2CMCZ*MTczNDUyMzMyMS4xLjAuMTczNDUyMzMyMS4wLjAuMTgyNTA3OTA2OQ.."><Button input="Gå til shop"></Button></a>
 </div>
  <img class="col-start-3 row-start-1" src="/svg/dragon.svg" alt="Drage">
   </section>
  </div> </div>
  
  </section>
 
 
  </section>


  <style>
   .typewrite {
  overflow: hidden;
   display: inline-block;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
 
  </style>
  <script>
   document.addEventListener("DOMContentLoaded", () => {
  const typewriterElements = document.querySelectorAll(".typewrite"); // Hent alle elementer med klassen .typewrite
  typewriterElements.forEach((typewriterElement) => {
    const textContent = typewriterElement.textContent; // Gem teksten
    typewriterElement.textContent = ""; // Tøm elementet for tekst
    let index = 0; // Startposition
    function typeText() {
      if (index < textContent.length) {
        typewriterElement.textContent += textContent[index]; // Tilføj næste tegn
        index++;
        setTimeout(typeText, 50); // Tidsinterval (juster for hastighed)
      }
    }
    typeText(); // Start animationen for dette element
  });
});
  </script>




   <!-- unikt fællesskab M -->


   <section id="fallesskab-m" class="lg:hidden bg-forrest-500 ">
<div class="grid py-s mt-s grid-cols-grid-mobil gap-gap-mobil mx-margin-mobil font-lemondejournal">
<!-- h1 -->
<div class="col-start-1 col-span-4 lg:col-span-6  lg:pb-m">
 <p id="pl11" class="text-p-mobil text-sage-500  ">Et unikt fællesskab</p>
 <h2 id="pl11" class="text-h2-mobil text-sage-500  ">Del det med andre</h2>
 </div>
<div class="col-span-full pl-s border-l border-sage-500 flex flex-col gap-xs">
 <p id="pl11" class=" text-p-mobil text-sage-500">Når du tilmelder dig et abonnement hos os, bliver du en del af vores eksklusive læseklub og kan være med når vi mødes online og taler om den bog vi er i gang med. Du kan se mere om kommende læseklub møder på vores Instagram og Facebook</p>


 <div class="flex flex-col">
 <div id="pl11" class="flex gap-xxs items-end">
   <a href="https://www.instagram.com/bookinaboxeu/"><img class="w-[70px] h-[70px]" src="/svg/instagram-icon.svg" alt="Instagram"></a>
    <a class="text-p-mobil  hover:text-cherry-500 transition-colors duration-300 ease-in-out text-sage-500" href="https://www.instagram.com/bookinaboxeu/">Følg os her</a>
 </div>
<div id="pl11" class="flex gap-xxs items-end">
 <a href="https://www.facebook.com/p/Book-in-a-Box-100086607619791/"><img class="w-[70px] h-[70px]" src="/svg/facebook icon.svg" alt="Facebook"></a>
 <a class="text-p-mobil  hover:text-cherry-500 transition-colors duration-300 ease-in-out text-sage-500" href="https://www.facebook.com/p/Book-in-a-Box-100086607619791/">Eller her</a>


</div>


</div>
</div>




</div>




   </section>


     <!-- unikt fællesskab D -->
<section id="fallesskab-d" class=" inset-0 bg-[url('/svg/klub-bg.svg')] bg-cover bg-no-repeat bg-right   hidden lg:block bg-forrest-500">




<img  class="b-d2 absolute right-0" src="/svg/klub-blomst-t.svg" alt="Blomst">
<img class="b-d2 absolute right-0 " src="/svg/klub-blomst-m.svg" alt="Blomst">



     <div  class="py-s grid mt-s grid-cols-grid-desktop gap-gap-desktop mx-margin-desktop font-lemondejournal">


<!-- h1 -->
<div class="mt-s col-start-1 col-span-7 flex flex-row justify-between items-center">
 <div class="">
 <p id="pl12" class="font-lemondejournal  text-sage-500 text-p-desktop col-span-12">Et unikt fællesskab</p>
 <h2 id="pl12" class=" font-lemondejournal text-h2-mobil text-sage-500 col-span-4 lg:text-h2-desktop lg:col-span-12">Book in a box læseklub</h2>
 </div>
</div>




<div class="col-span-4 row-start-2 pl-s border-l border-sage-500 flex flex-col gap-xs">
 <p id="pl12" class=" text-p-desktop text-sage-500">Når du tilmelder dig et abonnement hos os, bliver du en del af vores eksklusive læseklub og kan være med når vi mødes online og taler om den bog vi er i gang med. Du kan se mere om kommende læseklub møder på vores Instagram og Facebook</p>


 <div class="flex flex-col ">
 <div class="flex gap-xxs items-end">
   <a href="https://www.instagram.com/bookinaboxeu/"><img class="w-[70px] h-[70px]" src="/svg/instagram-icon.svg" alt="Instagram"></a>
   <a class="text-p-desktop  hover:text-cherry-500 transition-colors duration-300 ease-in-out text-sage-500" href="https://www.instagram.com/bookinaboxeu/">Følg os her</a>


 </div>
<div class="flex gap-xxs items-end">
  <a href="https://www.facebook.com/p/Book-in-a-Box-100086607619791/"><img class="w-[70px] h-[70px]" src="/svg/facebook icon.svg" alt="Facebook"></a>


 <a class="text-p-desktop  hover:text-cherry-500 transition-colors duration-300 ease-in-out text-sage-500" href="https://www.facebook.com/p/Book-in-a-Box-100086607619791/">Eller her</a>
</div>


</div>
</div>


     </div>


   </section>




    <!-- andre ting -->


    <section id="andreting" class=" h-full grid mt-s grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop font-lemondejournal">


<!-- h1 -->
<div class="col-start-1 col-span-full   lg:pb-m flex flex-row justify-between items-center">
 <div class="">
 <p id="pl13" class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4 lg:text-p-desktop lg:col-span-12">Webshop</p>
 <h2 id="pl13" class=" font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 lg:text-h2-desktop lg:col-span-12">Bøger og andre ting</h2>
 </div>
</div>


<div class="col-start-1 col-span-full">
<Karrusel></Karrusel>
</div>




<a class="col-start-1" href="https://www.bookinabox.dk/shop/?_gl=1*pukssy*_up*MQ..*_ga*MTgyNDM4ODkzOC4xNzM0NTIzMzIy*_ga_T9PHF2CMCZ*MTczNDUyMzMyMS4xLjAuMTczNDUyMzMyMS4wLjAuMTgyNTA3OTA2OQ..">
 <Button input="Se mere" variant="secondary"></Button>
</a>






   <!--  divider -->


   <div id="divider4" class="hidden lg:flex row-start-4 col-start-1    ">
<img class=" col-start-1  lg:col-span-3  row-start-3 relative -left-7 lg:left-[-100px]" src="/svg/singlebranch.svg" alt="blomster gren">


<div id="line4" class="row-start-3 col-start-2 col-span-3 flex place-items-center lg:col-span-8 ">
 <div class="h-[1px] w-72 lg:w-[140vh]  absolute right-0 bg-forrest-500"></div>
</div>
</div>


<div class=" lg:hidden row-start-4 col-start-1    ">
 <img class=" col-start-1  lg:col-span-3  row-start-3 relative -left-7 lg:left-[-100px]" src="/svg/singlebranch.svg" alt="blomster gren">


    </section>


 <!--  nyhedsbrev -->


<section id="nyhedsbrev-m" class="lg:hidden flex flex-col gap-xs ">
 <div class="grid mt-s grid-cols-grid-mobil  mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop font-lemondejournal">
<!-- h1 -->
<div class="col-start-1 col-span-full   lg:pb-m flex flex-row justify-between items-center">
 <div class="">
 <p id="pl15" class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4 lg:text-p-desktop lg:col-span-12">Nyhedsbrev</p>
 <h2 id="pl15" class=" font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 lg:text-h2-desktop lg:col-span-12">Modtag post</h2>


<div class="col-start-2 flex flex-col gap-xxs">
 <p id="pl15" class="text-p-mobil text-forrest-500 text-right">Modtag nyhedsbrevet om nye <br> temaer, og særlig konkurrencer</p>
 <p id="pl15" class="text-p-mobil text-forrest-500 text-right">Du kan til en hver tid afmelde det</p>
</div>






</div>
</div>
</div>




<div class="col-span-full bg-maroon-500 w-full p-s">


 <form name="nyhedsbrev" class="natural-language-form flex flex-col gap-xs place-items-start text-sage-500 font-lemondejournal" netlify>
   <p id="pl16" class="text-p-mobil">
     Jeg hedder
     <input
       type="text"
       name="name"
       placeholder="Jens Peter Jensen"
       class=" w-1/2  placeholder-cherry-500 text-cherry-500 border-none focus:outline-none focus:ring-0 bg-transparent"
       required
     />
     og jeg vil gerne modtage Book in a Box nyhedsbrevet, fordi jeg elsker
     <input
       type="text"
       name="reason"
       placeholder="fantasy"
       class="w-1/2  placeholder-cherry-500 p-xxs pl-0  text-cherry-500 border-none focus:outline-none focus:ring-0 bg-transparent"
       required
     />
   </p>
   <p id="pl16">
     Min mail er:
     <input
       type="email"
       name="email"
       placeholder="jensjensen@gmail.com"
       class="placeholder-forrest-500 text-forrest-500 border-none focus:outline-none focus:ring-0 bg-sage-500"
       required
     />.
   </p>
   <Button type="submit" size="small" input="Tilmeld" variant="secondary"></Button>
 </form>


 </div>
</section>






















<section id="nyhedsbrev-d" class="hidden lg:flex flex-col gap-xs ">
 <div class="grid  grid-cols-grid-desktop  mx-margin-desktop  gap-gap-desktop  font-lemondejournal">
<!-- h1 -->
<div class="col-start-1 col-span-full    flex flex-row justify-between items-center">
 <div class="">
 <p id="pl17" class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4 lg:text-p-desktop lg:col-span-12">Nyhedsbrev</p>
 <h2 id="pl17" class=" font-lemondejournal text-h2-mobil text-forrest-500 col-span-4 lg:text-h2-desktop lg:col-span-12">Modtag post</h2>










</div>
</div>




</div>


<div class="grid mt-s grid-cols-grid-desktop   gap-gap-desktop  font-lemondejournal">


 <div class="flex col-start-6 col-span-full text-left gap-xs">
   <p class="text-p-mobil text-forrest-500 ">Modtag nyhedsbrevet om nye temaer, og særlige konkurrencer</p>
   <p class="text-p-mobil text-forrest-500 ">Du kan til en hver til afmelde dig ved at bruge linket i bunden af nyhedsbrevet</p>
 </div>
<div class="flex items-center  col-start-2 col-span-full row-start-2">
 <img class="" src="/svg/pigeon.svg" alt="Brevdue">
</div>


<div class="col-start-5 col-span-full row-start-2 bg-maroon-500 p-s px-m">


 <form class="natural-language-form flex flex-col gap-xs text-sage-500 font-lemondejournal">
   <h3 class="text-h3-desktop text-sage-500 ">Tilmeld dig vores <br> nyhedsbrev</h3>
  
   <p class="text-p-desktop">
     Jeg hedder
     <input
       type="text"
       name="name"
       placeholder="Jens Peter Jensen"
       class="text-p-desktop w-[180px] placeholder-cherry-500 text-cherry-500 border-none focus:outline-none focus:ring-0 bg-transparent"
       required
     />
  
  
     og jeg vil gerne modtage Book in a Box <br> nyhedsbrevet, fordi jeg elsker
     <input
       type="text"
       name="reason"
       placeholder="fantasy"
       class="text-p-desktop w-1/2  p-xxs placeholder-cherry-500  text-cherry-500 border-none focus:outline-none focus:ring-0 bg-transparent"
       required
     />
 
 </p>
   <p class="text-p-desktop py-xxs">
     Min mail er:
     <input
       type="email"
       name="email"
       placeholder="jensjensen@gmail.com"
       class="text-p-desktop placeholder-forrest-500 text-forrest-500 border-none focus:outline-none focus:ring-0 bg-sage-500"
       required
     /> <br>
   </p>
   <p class="text-p-desktop">
     Som modtager af vores nyhedsbrev bliver du en del af en læsefællesskab med over 2000 ligesindende
   </p>
   <Button  size="small" input="Tilmeld" variant="secondary"></Button>
 </form>


 </div>
</div>
</section>


</MainLayout>


<!--horizontal -->
<script>




 import gsap from "gsap";
 
 import { ScrollTrigger } from "gsap/ScrollTrigger";
 
 gsap.registerPlugin(ScrollTrigger);




// forside




// hero
gsap.from("#hm-h", {opacity: 0,   x: -100,  stagger: 0.2, ease: "power2.out", duration: 0.8,})
gsap.from(".b-d",  {opacity: 0, x: -100, scale: 0, delay: 0.4,  stagger: 0.06, ease: "power1.out", duration: 1.1,})
gsap.from(".bird-d",  {opacity: 0, x: -40,   delay: 0.8,  stagger: 0.06, ease: "power1.out", duration: 1.1,})
gsap.to("#scroll-arrow",  { y: -10,  delay: 0.8, ease: "power1.out", duration: 0.6, repeat: -1, yoyo: true,})




// nav
// gsap.from(".header-d",  {opacity: 0, x: -40,   delay: 0.8,  stagger: 0.06, ease: "power1.out", duration: 1.1,})




gsap.from("#pl",  {scrollTrigger:{trigger: "#hero-d, #hero-m", start: "bottom 60%", scrub: false}, opacity: 0, x: -40, delay: 0.8,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl2",  {scrollTrigger:{trigger: "#pl2", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl3",  {scrollTrigger:{trigger: "#pl3", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl4",  {scrollTrigger:{trigger: "#pl4", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl5",  {scrollTrigger:{trigger: "#pl5", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl6",  {scrollTrigger:{trigger: "#pl6", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl7",  {scrollTrigger:{trigger: "#pl7", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl8",  {scrollTrigger:{trigger: "#pl8", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl9",  {scrollTrigger:{trigger: "#pl9", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl10",  {scrollTrigger:{trigger: "#pl10", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl11",  {scrollTrigger:{trigger: "#pl11", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl12",  {scrollTrigger:{trigger: "#pl12", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl13",  {scrollTrigger:{trigger: "#pl13", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl14",  {scrollTrigger:{trigger: "#pl14", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl15",  {scrollTrigger:{trigger: "#pl15", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl16",  {scrollTrigger:{trigger: "#pl16", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl17",  {scrollTrigger:{trigger: "#pl17", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})










// divider opdeler
gsap.from("#line",  {scrollTrigger:{trigger: "#divider", start: "top 90%", scrub: false}, opacity: 0, width: 0, delay: 0.8,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#line2",  {scrollTrigger:{trigger: "#divider2", start: "top 90%", scrub: false}, opacity: 0, width: 0, delay: 0.8,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#line3",  {scrollTrigger:{trigger: "#divider3", start: "top 90%", scrub: false}, opacity: 0, width: 0, delay: 0.8,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#line4",  {scrollTrigger:{trigger: "#line4", start: "top 90%", scrub: false}, width: 0, opacity: 0, delay: 0.8,  stagger: 0.06, ease: "power2.out", duration: 1.1,})




gsap.from(".b-d2",  {scrollTrigger:{trigger: ".b-d2", start: "top 90%", scrub: false}, opacity: 0, x: -10, scale: 0, delay: 0.2,  stagger: 0.3, ease: "power1.out", duration: 1.1,})


gsap.from("#card1",  {scrollTrigger:{trigger: "#card1", start: "top 90%", scrub: false}, opacity: 0, x: -100, scale: 0, delay: 0.2,  stagger: 0.3, ease: "power1.out", duration: 1.1,})
gsap.from("#card2",  {scrollTrigger:{trigger: "#card2", start: "top 90%", scrub: false}, opacity: 0, x: -100, scale: 0, delay: 0.2,  stagger: 0.3, ease: "power1.out", duration: 1.1,})






 gsap.fromTo(".first-object, .first-text", {
 x: 0, opacity: 1
}, {
 x: -1000, opacity: 1, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-1", scrub: true, start: "2%", end: "20%",
 }
});


gsap.fromTo(".second-object, .second-text", {
 x: 1000, opacity: 0, scale: 0,
}, {
 x: 0, opacity: 1, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-1", scrub: true, start: "4%", end: "30%",
 }
});


gsap.fromTo(".second-object, .second-text", {
 x: 0, opacity: 1, scale: 1,
}, {
 x: -1000, opacity: 0, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-1", scrub: true, start: "46%", end: "60%",
 }
});


gsap.fromTo(".third-object, .third-text", {
 x: 1000, opacity: 0,
}, {
 x: 0, opacity: 1, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-1", scrub: true, start: "32%", end: "70%",
 }
});


// For the second section
gsap.fromTo(".first-object, .first-text", {
 x: 0,
}, {
 x: -1000, opacity: 1, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-2", scrub: true, start: "2%", end: "20%",
 }
});


gsap.fromTo(".second-object, .second-text", {
 x: 1000, opacity: 0, scale: 0,
}, {
 x: 0, opacity: 1, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-2", scrub: true, start: "4%", end: "30%",
 }
});


gsap.fromTo(".second-object, .second-text", {
 x: 0, opacity: 1, scale: 1,
}, {
 x: -1000, opacity: 0, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-2", scrub: true, start: "46%", end: "60%",
 }
});


gsap.fromTo(".third-object, .third-text", {
 x: 1000, opacity: 0,
}, {
 x: 0, opacity: 1, duration: 1, ease: "power1.in", scrollTrigger: {
   trigger: "#scroll-2", scrub: true, start: "32%", end: "70%",
 }
});


 
 
  </script>
 
