---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout title="Om os"></MainLayout>



<section class="grid grid-cols-grid-mobil mx-margin-mobil gap-gap-mobil">
<p class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4">Vores Historie</p>
<h1 class="font-lemondejournal text-h1-mobil text-forrest-500 col-span-4 break-all">Virksomheden</h1>
<h4 class="font-lemondejournal text-h4-mobil text-forrest-500 col-span-4">Kære Læser</h4>
<p class="font-lemondejournal text-p-mobil text-forrest-500 col-span-4">Drømmen om at starte Book in a Box kom oprindeligt til mig, da jeg gennem flere år havde sukket efter de udenlandske bogbokse, der altid indeholdt smukke fantasyromaner og gaver og havde et inkluderende læsefællesskab. Desværre satte de høje fragt- og toldpriser en barriere for selv at abonnere på dem. I 2022 smurte jeg derfor ærmerne op og planlagde en bogboks baseret i Danmark. Efter en god portion research blev Book in Box født i 2023 og lancerede i maj den første boks med Rebecca Yarros’ roman Fourth Wing. <br><br>

    Takket være den overvældende støtte fra jer fantastiske medlemmer og det vidunderlige bog-fællesskab er Book in a Box vokset ud af det lille skur hjemme hos min mor, som jeg startede i. I 2024 har jeg kæmpet for, at Book in a Box kan tilbyde eksklusive udgaver af bøger i samarbejde med nogle af verdens største forlag og dygtige kunstnere, og det håber jeg, vi kan få lov til at lave meget mere af. Jeg er utrolig spændt på at se, hvad fremtiden bringer! <br> <br>
    
    Jeg ville ikke have haft mulighed for at arbejde med det, jeg og Book in a Box teamet elsker og brænder for, uden jer. En stor tak til dig, der har støttet med køb, delinger, billeder, kommentarer og anbefalinger. Uanset om du har været med fra begyndelsen eller først lige har opdaget os: TAK! Jeg ser frem til fortsat at bringe jer gode bøger og boglige goodies og fortsætte med at dele kærligheden til bøger med andre læsere rundt om i verden!
    
    De største kram</p>

    <img src="" alt="cecilie">

</section>

<section class="border-t border-t-forrest-500 grid grid-cols-grid-mobil mx-margin-mobil gap-gap-mobil text-forrest-500 font-lemondejournal text-center">
<p class="text-p-mobil col-start-2 col-span-2">November</p>
<h3 class="text-h3-mobil col-start-2 col-span-2">2022</h3>
<img class="col-start-2 col-span-2" src="" alt="prototype">
<h5 class="text-h5-mobil col-start-2 col-span-2 ">Tidlig prototype</h5>
<p class=" text-p-mobil col-span-4 ">Vores første prototype der blev sendt til feedback ved Bogfeber i 2022</p>




</section>