---
import MainLayout from "../layouts/MainLayout.astro"


---


<MainLayout title="Abonnement">


<section class="font-lemondejournal grid grid-cols-grid-mobil mx-margin-mobil gap-x-gap-mobil lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-x-gap-desktop pt-l">
   <div class="col-start-1 col-span-4 text-forrest-500 lg:col-span-12 lg:pb-m">
       <p id="pl18" class="text-p-mobil text-forrest-500 col-span-4 lg:text-p-desktop lg:col-span-12">Tilmeld</p>
       <h1 id="pl18" class="text-h1-mobil text-forrest-500 col-span-4 break-all lg:text-h1-desktop lg:col-span-12">Vælg dit abonne- <br> ment</h1>
       </div>
   <p id="pl18" class="col-start-1 col-span-4 text-p-mobil text-end text-forrest-500 lg:text-p-desktop lg:col-start-9 lg:col-span-4">Som en del af Book in a Box, inviteres du med i vores fantastiske læseklub</p>


   <div class="col-start-3 col-end-11 hidden lg:block lg:pt-s">
       <img src="/svg/card-desktop.svg" alt="card desktop">
   </div>


   <div class="col-start-3 col-end-11 hidden lg:block lg:pt-s">
       <img src="/svg/card-desktop2.svg" alt="card desktop2">
   </div>


</section>
  
<!-- Opdeler streg -->


<section class="font-lemondejournal grid grid-cols-grid-mobil gap-x-gap-mobil lg:grid-cols-grid-desktop lg:gap-x-gap-desktop ">


<div id="line5" class="col-start-1 col-span-3 flex place-items-center lg:col-span-8 lg:row-start-5">
    <div class=" h-[1px] w-full bg-forrest-500 ">


   </div>


   </div>


   <div class="col-start-4 lg:col-start-9 lg:row-start-5 lg:col-span-5">


   <img class="col-start-4 lg:col-start-9 lg:row-span-3" src="/img/branch-down.svg" alt="blomster gren">
   </div>


</section>
<section class="font-lemondejournal grid grid-cols-grid-mobil mx-margin-mobil gap-x-gap-mobil lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-x-gap-desktop" >
   <div class="col-start-1 col-span-4 text-center pt-s lg:hidden">
       <h5 class="text-h5-mobil text-forrest-500">BOOKS & GOODIES</h5>
       <h6 class="text-h6-mobil pb-xs text-cherry-500">Bog og 3 eksklusive gaver</h6>
   </div>


   <div class="col-start-1 col-span-4 lg:hidden">
   <img src="/svg/card-mobile.svg" alt="card-mobil">
   </div>


   <div class="col-start-1 col-span-4 text-center pt-s text-forrest-500 lg:hidden">
       <h5 class="text-h5-mobil">BOOK ONLY</h5>
       <h6 class="text-h6-mobil pb-xs">Kun bog</h6>
   </div>


   <div class="col-start-1 col-span-4 lg:hidden">
   <img src="/svg/card-mobil2.svg" alt="card-mobil2">
   </div>
</section>


<!-- Opdeler streg -->


<section class="grid grid-cols-grid-mobil gap-x-gap-mobil lg:hidden py-xs">


   <div class="col-start-1">
  
       <img class="col-start-1" src="/svg/singlebranch.svg" alt="gren">
       </div>
 
   <div class="col-start-2 col-span-3 flex place-items-center">
        <div class=" h-[1px] w-full bg-forrest-500 ">
  
       </div>
  
       </div>


     
  
</section>


<!-- Pakke indhold -->


<section class="font-lemondejournal grid grid-cols-grid-mobil mx-margin-mobil gap-x-gap-mobil lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-x-gap-desktop">
   <div class="col-start-1 col-span-4 text-forrest-500 lg:col-span-12 lg:pb-m">
       <p id="pl19" class="text-p-mobil text-forrest-500 lg:text-p-desktop lg:col-span-12">Medlemsfordele</p>
       <h1 id="pl19" class="text-h1-mobil text-forrest-500 break-all lg:text-h1-desktop">Særlige fordele</h1>
   </div>


   <div class="col-start-1 col-span-4 text-forrest-500 lg:col-start-1 lg:col-span-6">
   <img class="w-full h-[80%]" src="/img/pakke.webp" alt="pakke indhold">
   <h6 id="pl19" class="text-h6-mobil lg:text-h6-desktop">A Dark and Drowning Tide</h6>
   <p id="pl19" class="text-p-mobil pb-s lg:text-p-desktop">af Allison Saft</p>
   </div> 


   <div class="text-forrest-500 col-start-1 col-span-4 lg:col-start-7 lg:col-span-5 pb-l">
   <h4 id="pl19" class="text-h4-mobil pb-xs lg:text-h4-desktop">Din pakke indeholder dette:</h4>
   <ol class="list-inside">
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ Månedens bog</li>
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ Forfatterbrev</li>
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ Signed Bookplate</li>
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ Digital Printed Edges <p class="text-p-mobil">Udført af @alyesasworld bragt til live af @nola_sprayed_edges</p></li>
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ 10% rabat i hele shoppen</li>
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ Ingen binding</li>
       <li id="pl19" class="text-h6-mobil lg:text-h6-desktop lg:pb-s">✧ Læseklub</li>
   </ol>
</div>
   
</section>


</MainLayout>






<script>




import gsap from "gsap";
 
 import { ScrollTrigger } from "gsap/ScrollTrigger";
 
 gsap.registerPlugin(ScrollTrigger);






 gsap.from("#line5",  {scrollTrigger:{trigger: "#line5", start: "top 90%", scrub: false}, opacity: 0, width: 0, delay: 0.8,  stagger: 0.06, ease: "power2.out", duration: 1.1,})




gsap.from("#pl18",  {scrollTrigger:{trigger: "#pl18", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.from("#pl19",  {scrollTrigger:{trigger: "#pl19", start: "top center", scrub: false}, opacity: 0, x: -40, delay: 0.2,  stagger: 0.06, ease: "power2.out", duration: 1.1,})








</script>

