---
---
 <footer class="relative bg-forrest-500 text-white overflow-visible">

    <!-- Footer indhold -->
    <div class="container pb-m pt-s font-lemondejournal text-sage-500 grid grid-cols-grid-mobil gap-gap-mobil lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-x-gap-desktop">
        
        <div class="col-start-1 col-span-2 pl-xxs lg:col-start-1 lg:col-span-4">
        <h5 class="text-h5-mobil lg:text-h5-desktop pb-s ">Book In a Box</h5>
        <p class="text-p-mobil lg:text-p-desktop">Adresse: <br>
            Teknikvej 34 <br> 5260 Odense S <br> Danmark</p>
        </div>

        <div class="col-start-3 col-span-2 pt-s pr-xxs z-20 lg:col-start-10 lg:col-span-3">
        <p class="text-p-mobil text-right lg:text-left lg:text-p-desktop pb-s ">Kontakt: <br>
                +4512345678
                hello@bookinabox.dk</p>
        <p class="text-p-mobil lg:text-p-desktop text-right lg:text-left">Følg os: <br>
                Instagram
                Facebook</p>
        </div> 
       
    </div>
  
    <!-- Billedet -->
    <div class="absolute bottom-0 px-xxs lg:px-0 left-[35%] lg:left-[50%] transform -translate-x-1/2 translate-y-[0%] z-10 pointer-events-none">
      <img 
        src="/public/svg/singlebranch-footer.svg" 
        alt="Dekoration" 
        class="w-[200%] h-[100%] max-w-none">
    </div>
  </footer>
  
  