---
---
<header id="header-d" class="hidden lg:flex pt-s gap-xs fixed left-0 top-0 h-full w-[168px] bg-forrest-600  flex-col items-center z-50">
    <!-- logo -->
    <div id="logo-d" class="sticky top-4 cursor-pointer">
    <a href="/"><img src="/svg/logo-d-sage.svg" alt="Logo" class=" w-full"></a>
</div>
    <div class="bg-cherry-500 h-1 w-full"></div>
    <h4 id="menu-d" class="cursor-pointer text-h4-desktop hover:text-cherry-500 transition-colors duration-300 ease-in-out text-sage-500 font-lemondejournal">Menu</h4>
  </header>

  <!-- Slide Menu -->
  <div id="menu-overlay" 
  class="fixed left-0 top-0 w-0 h-full bg-forrest-500 overflow-hidden transition-all duration-500 ease-in-out z-40">
  <!-- links -->
  <nav class="transition-all duration-300 ease-in-out h-full flex flex-col items-center gap-xs justify-center font-lemondejournal text-h2-desktop text-sage-500">
    <a href="/" class="relative right-40 text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Hjem</a>
    <a href="/tilmeld" class="relative -right-40 text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Abonnement</a>
    <a href="/omos" class="relative right-40 text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Om os</a>
    <a href="#contact" class="relative -right-40 text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out ">Kontakt</a>
  </nav>
</div>







  <script>
    const menudesk = document.getElementById('menu-d');
    const menuOverlay = document.getElementById('menu-overlay');
    const header = document.getElementById('header-d');

    // Toggle Menu
    document.addEventListener('click', () => {
      menuOverlay.classList.toggle('w-0');
      menuOverlay.classList.toggle('w-screen');
    });

    // Close menu when clicking outside
    document.addEventListener('click', (e) => {
      if (!header.contains(e.target) && !menuOverlay.contains(e.target)) {
        menuOverlay.classList.add('w-0');
        menuOverlay.classList.remove('w-screen');
      }
    });

   
  </script>




<header id="header-m" class="bg-forrest-600 fixed w-full top-0 lg:hidden block z-50 ">
  <div class="flex justify-between items-center px-s py-xxs">
    <!-- Logo -->
    <a href="/" class=" flex-shrink-0">
      <img class="  w-full" src="/svg/logo-m-sage.svg" alt="Logo">
    </a>

    <!-- icons -->
    <div class="  flex items-center gap-xxs">
      <!-- burger ikon -->

      <img id="burger-icon" src="/svg/burger-icon.svg" alt="">
     
      <!-- Luk Ikon -->
      <img id="close-icon" class=" mixblend hidden cursor-pointer w-full" src="/svg/x-icon.svg" alt="Lukke ikon">
    </div>
  </div>
</header>

  
  <!-- Menu skjult M -->
  <div id="menu-m" class="h-screen top-0 bg-forrest-500 fixed w-screen z-40 hidden">
    <nav class="transition-all duration-300 ease-in-out h-full flex flex-col items-center gap-xs justify-center font-lemondejournal text-h3-mobil text-sage-500">
      <a href="/" class="text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Hjem</a>
      <a href="/tilmeld" class="text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Abonnement</a>
      <a href="/omos" class="text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Om os</a>
      <a href="#contact" class="text-sage-500 hover:text-cherry-500 transition-colors duration-300 ease-in-out">Kontakt</a>
    </nav>
  </div>
  
  <script defer>



// const burgermenu = document.querySelector(".burgermenu")
// const burgermenu2 = document.querySelector(".burgermenu2")
// const burgermenu3 = document.querySelector(".burgermenu3")


// window.onscroll = function() {navScroll()};


// function navScroll() {
// if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
// burgermenu.classList.add("bg-forrest-600");
// burgermenu.classList.remove("bg-sage-500");
// burgermenu2.classList.add("bg-forrest-600");
// burgermenu2.classList.remove("bg-sage-500");
// burgermenu3.classList.add("bg-forrest-600");
// burgermenu3.classList.remove("bg-sage-500");
// } else {
// burgermenu.classList.remove("bg-forrest-600");
// burgermenu.classList.add("bg-sage-500");
// burgermenu2.classList.remove("bg-forrest-600");
// burgermenu2.classList.add("bg-sage-500");
// burgermenu3.classList.remove("bg-forrest-600");
// burgermenu3.classList.add("bg-sage-500");
// }
// }







    // Get elements
    const burgerIcon = document.getElementById('burger-icon');
    const closeIcon = document.getElementById('close-icon');
    const menu = document.getElementById('menu-m');
  
    // Toggle menus synlighed
    burgerIcon.addEventListener('click', () => {
      menu.classList.remove('hidden'); // Show menu
      burgerIcon.classList.add('hidden'); // Hide burger icon
      closeIcon.classList.remove('hidden'); // Show close icon
    });
  
    // Luk menu trigger
    closeIcon.addEventListener('click', () => {
      menu.classList.add('hidden'); // skjul menu
      burgerIcon.classList.remove('hidden'); // viser burger ikon
      closeIcon.classList.add('hidden'); // skjuler lukke ikon
    });
  
    
    document.addEventListener('click', (e) => {
      if (!menu.contains(e.target) && !burgerIcon.contains(e.target)) {
        menu.classList.add('hidden'); // skjul menu
        burgerIcon.classList.remove('hidden'); // visburger ikon
        closeIcon.classList.add('hidden'); // Hide close icon
      }
    });
  </script>
  

 
